.discover {
  padding: 150px 0 0 0;
}

.discover h1,
.hashtag-copy i {
  color: #49ba86;
}

.hashtag-copy p a {
  border-bottom: 1px solid #49ba86;
  color: #49ba86;
}

.whitebg {
  background: white;
  color: #000;
}

.hashtag {
  height: 100%;
}

.fboldup {
  font-family: "gtwalsheim_bold", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 0.875em;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #000;
}

@media all and (max-width: 768px) {
  .fboldup {
    font-size: 0.8125em;
    line-height: 13px;
  }
}

.landing {
  padding: 0 0 70px;
  margin: 0 auto;
  width: 100%;
}

@media all and (max-width: 768px) {
  .landing {
    padding: 70px 0 40px;
  }
}

.landing .content-wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 10;
  padding-top: 100px;
}

@media all and (min-width: 769px) and (max-width: 1023px) {
  .landing .content-wrapper {
    padding-top: 80px;
  }
}

@media all and (max-width: 768px) {
  .landing .content-wrapper {
    padding-top: 50px;
    margin-top: 0;
    text-align: center;
  }
}

.home-mod {
  width: 50%;
  height: 100%;
}

.landing .hashtag-artists.right .home-mod {
  margin-left: 50%;
}

@media all and (max-width: 768px) {
  .landing .hashtag-artists.right .home-mod {
    margin-left: auto;
  }
}

.landing .hashtag-shape {
  position: relative;
  height: 100%;
  overflow: hidden;
}

@media all and (max-width: 768px) {
  .landing .hashtag-shape {
    margin-bottom: 15px;
    height: auto;
  }
}

.landing .hashtag-shape h2 {
  padding-top: 60px;
}

.landing .hashtag-shape a {
  display: block;
}

.landing .hashtag-shape .hashtag {
  height: 100%;
}

.landing .hashtag-shape .icon {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
  transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}

@media all and (min-width: 769px) and (max-width: 1023px) {
  .landing .hashtag-shape .icon {
    max-width: 350px;
  }
}

@media all and (max-width: 768px) {
  .landing .hashtag-shape .icon {
    background-size: 100%;
    max-width: 350px;
    margin-bottom: 30px;
  }
}

.home-row {
  width: 100%;
  min-height: 400px;
  height: 500px;
  position: relative;
}

@media all and (min-width: 769px) and (max-width: 1023px) {
  .home-row {
    height: 300px;
  }
}

@media all and (max-width: 768px) {
  .home-row {
    height: auto;
    padding-bottom: 80px;
  }
}

.home-row:last-child {
  padding-bottom: 0;
}

.home-row .inner-wrapper {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

@media all and (max-width: 768px) {
  .home-mod {
    width: 100%;
    margin: 0 auto;
  }
}

.home-mod.left {
  float: left;
}

@media all and (max-width: 768px) {
  .home-mod.left {
    float: none;
  }
}

.home-mod.left.stick {
  left: 0;
}

.home-mod.left .copy .text-wrap {
  margin: 0 auto 0 0;
}

@media all and (max-width: 768px) {
  .home-mod.left .copy .text-wrap {
    margin: 0 auto;
  }
}

.home-mod.right {
  float: right;
}

@media all and (max-width: 768px) {
  .home-mod.right {
    float: none;
  }
}

#page {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@media all and (min-width: 768px) {
  #page {
    perspective: 1px;
    -webkit-perspective: 1px;
    -moz-perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#page .hero {
  display: none;
}

#page.loaded {
  opacity: 1;
}

#page.loaded .hero {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
